<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">2904pior</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aplicacoes</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping class="entidade.Cidade"></mapping>
        <mapping class="entidade.Endereco"></mapping>
        <mapping class="entidade.Estado"></mapping>
        <mapping class="entidade.Logradouro"></mapping>
        <mapping class="entidade.Usuario"></mapping>
        <mapping class="entidade.Valores"></mapping>
    </session-factory>
</hibernate-configuration>
